<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="modoBarraLateral"
    [opened]="mostrarBarraLateral"
  >
    <div style="background-color:#000000 ;">
      <h2
      style="
        background-color: #000000;
        height: 40px;
        margin-left: 20%;
        display: flex;
        color: white;
      "
    >
    <img src="/assets/LogoPestaña.png" alt="Icono de usuario" class="icon" style=" margin-left:5%; margin-top: 2%;">
      irbo
    </h2>
  </div>

    <mat-nav-list>
<!-- Botón usuarios -->
      <div>
      <button (click)="navigateViewUsers()" class="hover-orange transparent-button"
        [class.active]="isRouteActive('/listaUsuario')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Usuarios
      </button>
      </div>
<!-- Botón Requisitos de trabajo  -->
      <div>
      <button
      (click)="navigateViewJobRequisition()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/jobRequisition')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Requisitos de trabajo
      </button>
     </div>

<!-- Botó campañas -->
    <div>
      <button
      (click)="navigateViewCampanas()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/campanas')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Campañas
      </button>
    </div>
<!-- Botón candidatos -->
    <div>
      <button
      (click)="navigateViewCandidatos()" class="hover-orange transparent-button"
      [class.active]="isRouteActive('/candidatos')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Candidatos
      </button>
    </div>
<!-- Botón Industrias -->
    <div>
      <button
      (click)="navigateViewIndustrias()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/industrias')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Industrias
      </button>
    </div>
<!-- Botón interacciones -->
    <div>
      <button
      (click)="navigateViewInteracciones()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/interacciones')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Interaciones
      </button>
    </div>
<!-- Botón entrevistas -->
    <div>
      <button
      (click)="navigateViewEntrevistas()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/entrevistas')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Entrevistas
      </button>
    </div>
    <!-- Preguntas -->
    <div>
      <button
      (click)="navigateViewPreguntas()"
       class="hover-orange transparent-button"
       [class.active]="isRouteActive('/preguntas')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Preguntas
      </button>
    </div>

    <!-- Botón Documentos -->
    <div>
      <button
        (click)="navigateViewDocumentos()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/documentos')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Documentos
      </button>
    </div>
<!-- Botón Reclutadores -->
    <div>
      <button
        (click)="navigateViewReclutadores()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/reclutadores')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Reclutadores
      </button>
    </div>
<!-- Botón Organizaciones  -->
    <div>
      <button
      (click)="navigateViewOrganizaciones()"
       class="hover-orange transparent-button"
       [class.active]="isRouteActive('/organizaciones')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Organizaciones
      </button>
    </div>
<!-- Botón Salir -->
    <button class="bottom-left-text"
    (click)="logoutBS()"
    class="hover-orange transparent-button"
    [class.active]="isRouteActive('/plan')"
  >
    <i class="fas fa-sign-out-alt" style="margin-right: 35px"></i>
    Cerrar sesión
  </button>


    <div class="container">

    </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-header></app-header>
  </mat-sidenav-content>
</mat-sidenav-container>
